@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales base (por ejemplo, fondo, SVG, etc.) */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans), sans-serif;
}